{% extends 'layout.html' %}

{% block title %} Quản lý nhà văn hoá {% endblock %}

{% block content %}
<div class="mt-4 mx-2">
    <h3>Thêm sự kiện</h3>
    <form method="post">
        <div class="row mb-4">
            <div class="form-label">
                <label class="form-label" for="eventId">Mã sự kiện</label>
                <input type="text" id="eventId" name="eventId" class="form-control" value=" {{ event.id }}" readonly/>
            </div>

            <div class="form-label">
                <label class="form-label" for="eventName">Tên sự kiện</label>
                <input type="text" id="eventName" name="eventName" class="form-control" value="" required/>
            </div>

            <div class="form-label">
                <label class="form-label" for="registerName">Thông tin người đăng ký</label>
                <input type="text" id="registerName" name="registerName" class="form-control" value="" required/>
            </div>

            <div class="form-label">
                <label class="form-label" for="registerContact">Thông tin liên lạc của người đăng ký</label>
                <select class="form-control" name="department">
                    {% for i in range(0, len) %}
                        <option value="{{ departments[i].id }}">{{ departments[i].name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-label">
                <label class="form-label" for="registerContact">Thông tin liên lạc của người đăng ký</label>
                <input type="text" id="registerContact" name="registerContact" class="form-control" value="" required/>
            </div>

            <div class="form-label">
                <label class="form-label" for="fromTime">Thời gian bắt đầu</label>
                <input type="text" id="fromTime" name="fromTime" class="form-control" value="" required/>
            </div>

            <div class="form-label">
                <label class="form-label" for="toTime">Thời gian kết thúc</label>
                <input type="text" id="toTime" name="toTime" class="form-control" value="" required/>
            </div>

        </div>

        <div class="form-label mb-4" style="text-align: center;">
            <button type="submit" class="btn btn-outline-primary btn-rounded">Thêm sự kiện</button>
        </div>

    </form>
</div>

{% endblock %}