{% extends 'layout.html' %}

{% block title %} Quản lý sự kiện {% endblock %}

{% block content %}
<div class="mt-4 mx-2">
	<div class="row">
		<div class="col-md d-flex">
			<h3 class="d-inline p-2"> Tổ chức sự kiện </h3>
			<div class="p-2 mb-2">
				<button class="btn btn-outline-primary" type="button" id="dropdownMenuButton">
					<i class="fa-solid fa-plus"></i>
				</button>
			</div>
		</div>
	</div>

	<div class="input-group mb-3">
  		<input type="search" class="form-control rounded" placeholder="Số điện thoại người đăng ký" aria-label="search" aria-describedby="search-addon" />
  		<button type="button" class="btn btn-outline-primary">Tìm kiếm</button>
	</div>

	<table class="table align-middle mb-0 bg-white">
		<thead class="bg-light">
			<tr>
				<th>Tên sự kiện</th>
				<th>Ngày tổ chức</th>
				<th>Thông tin liên lạc</th>
				<th>Địa điểm</th>
				<th>Phí sự kiện</th>
				<th>Trạng thái</th>
				<th>Phê duyệt</th>
				<th>Chỉnh sửa</th>
			</tr>
		</thead>
		<tbody>
			{% if len == 0 %}
				<tr>
					<td>
						<p>Không có dữ liệu</p>
					</td>
				</tr>
			{% endif %}

			{% if len > 0 %}
			{% for i in range(0, len) %}
			<tr>
				<td>
					{{ events[i].name }}
				</td>
				<td>
					{{ events[i].from_time }}
				</td>
				<td>
					{{ events[i].owner + ' (' + events[i].owner_contact + ')' }}
				</td>
				<td>
					{{ events[i].department.name }}
				<td>
					{{ events[i].fee }}
				</td>
				<td>
					{% if events[i].status == 0 %} Chưa phê duyệt {% endif %}
					{% if events[i].status == 1 %} Đã phê duyệt {% endif %}
				</td>
				<td>
					{% if events[i].status == 0 %}
					<a href="">
						<button type="button" class="btn btn-outline-success btn-sm btn-rounded">
							Duyêt
						</button>
					</a>
					{% endif %}
				</td>
				<td>
					<a href="{{ url_for('event.edit', id=events[i].id) }}">
						<button type="button" class="btn btn-outline-primary btn-sm btn-rounded">
							<i class="fa-solid fa-pen"></i>
						</button>
					</a>
				</td>
			</tr>
			{% endfor %}
			{% endif %}
		</tbody>
	</table>
</div>


<!-- Modal -->
<div class="modal modal-lg fade" id="modalHouseholdSearch" tabindex="-1" aria-labelledby="modalHouseholdSearchLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalHouseholdSearchLabel">Tra cứu hộ khẩu</h5>
				<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
			</div>
			<form method="POST">
				<div class="modal-body">
					<div class="input-group rounded">
						<input id="householdSearch" type="search" name="householdSearch" class="form-control rounded"
							placeholder="Mã tại sổ hộ khẩu" aria-label="Search" aria-describedby="search-addon" />
						<span class="input-group-text border-0" id="search-addon">
							<i class="fas fa-search"></i>
						</span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Đóng</button>
					<button class="btn btn-primary" type="submit">Tìm kiếm</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}