{% extends 'layout.html' %}

{% block title %} Đăng ký nhân khẩu {% endblock %}

{% block content %}
<div class="mt-4 mx-2">
    <h3>Thêm nhân khẩu</h3>
    <form>
        <div class="row mb-4">
            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="form6Example1">Họ và tên</label>
                    <input type="text" id="form6Example1" class="form-control" />
                    
                </div>
            </div>
            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="form6Example2">Quốc tịch</label>
                    <input type="text" id="form6Example2" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="form6Example1">Dân tộc</label>
                    <input type="text" id="form6Example1" class="form-control" />
                </div>
            </div>
            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="form6Example2">Tôn giáo</label>
                    <input type="text" id="form6Example2" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="form6Example1">Ngày sinh</label>
                    <input type="text" id="form6Example1" class="form-control" />
                </div>
            </div>
        
            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="form6Example2">Giới tính</label>
                    <input type="text" id="form6Example2" class="form-control" />
                </div>
            </div>
        </div>
        
        <div class="row mb-4">
            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="form6Example1">CCCD</label>
                    <input type="text" id="form6Example1" class="form-control" />

                </div>
            </div>
            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="form6Example2">Ngày cấp</label>
                    <input type="text" id="form6Example2" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-label mb-4">
            <label class="form-label" for="form6Example2">Sổ hộ chiếu</label>
            <input type="text" id="form6Example2" class="form-control" />
        </div>

        <div class="form-label">
            <label class="form-label" for="form6Example1">Nơi sinh</label>
            <input type="text" id="form6Example1" class="form-control" />
        </div>
            

        <!-- Text input -->
        <div class="form-label mb-4">
            <label class="form-label" for="form6Example2">Nghề nghiệp</label>
            <input type="text" id="form6Example2" class="form-control" />
        </div>
        
        <div class="form-label mb-4">
            <label class="form-label" for="form6Example4">Địa chỉ thường trú</label>
            <input type="text" id="form6Example4" class="form-control" />
        </div>

        <div class="form-label mb-4">
            <label class="form-label" for="form6Example4">Địa chỉ hiện tại</label>
            <input type="text" id="form6Example4" class="form-control" />
        </div>


        <div class="form-label mb-4" style="text-align: center;">
            <button type="button" class="btn btn-primary">Đăng ký</button>
            <button type="button" class="btn btn-danger" style="margin-left:100px;">Huỷ</button>
        </div>

    </form>


       
</div>

{% endblock %}
