{% extends 'layout.html' %}

{% block title %} Quản lý nhân khẩu {% endblock %}

{% block content %}
<div class="mt-4 mx-2">
    <h3>Thông tin nhân khẩu</h3>
    <form>
        <div class="row mb-4">
            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="form6Example1">Họ và tên</label>
                    <input type="text" id="form6Example1" class="form-control" value="{{population.full_name}}"/>

                </div>
            </div>
            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="form6Example2">Quốc tịch</label>
                    <input type="text" id="form6Example2" class="form-control" value="{{population.religion}}"/>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="form6Example1">Dân tộc</label>
                    <input type="text" id="form6Example1" class="form-control" value="{{population.ethnic}}"/>
                </div>
            </div>
            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="form6Example2">Tôn giáo</label>
                    <input type="text" id="form6Example2" class="form-control" value="{{population.religion}}"/>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="form6Example1">Ngày sinh</label>
                    <input type="text" id="form6Example1" class="form-control" value="{{population.date_of_birth}}"/>
                </div>
            </div>

            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="form6Example2">Giới tính</label>
                    <input type="text" id="form6Example2" class="form-control" value="{{population.gender}}"/>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="form6Example1">CCCD</label>
                    <input type="text" id="form6Example1" class="form-control" value="{{population.identification_number}}"/>

                </div>
            </div>
        </div>

        <div class="form-label mb-4">
            <label class="form-label" for="form6Example2">Sổ hộ chiếu</label>
            <input type="text" id="form6Example2" class="form-control" value="{{population.passport_number}}"/>
        </div>

        <div class="form-label">
            <label class="form-label" for="form6Example1">Nơi sinh</label>
            <input type="text" id="form6Example1" class="form-control" value="{{population.born_location}}"/>
        </div>


        <div class="form-label mb-4" style="text-align: center;">
            <button type="button" class="btn btn-primary">Thay đổi</button>
            <button type="button" class="btn btn-danger" style="margin-left: 30px;">Xoá</button>
        </div>
    </form>
</div>

{% endblock %}