{% extends 'layout.html' %}

{% block title %} Trang chủ {% endblock %}

{% block username %} {{ username }} {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md">
			<div class="card text-center mt-4">
				<div class="card-header">
					<h5>
						Hộ khẩu
					</h5>
				</div>
				<div class="card-body">
					<h4 class="card-text">
						{{ information.totalHousehold }}
						<i class="fa-solid fa-house fa-xs"></i>
					</h4>
				</div>
			</div>

		</div>
		<div class="col-md">
			<div class="card text-center mt-4">
				<div class="card-header">
					<h5>
						Nhân khẩu
					</h5>
				</div>
				<div class="card-body">
					<h4 class="card-text">
						{{ information.totalPopulation }}
						<i class="fa-solid fa-person"></i>
					</h4>
				</div>
			</div>
		</div>
		<div class="col-md">
			<div class="card text-center mt-4">
				<div class="card-header">
					<h5>Quỹ nhà văn hoá</h5>
				</div>
				<div class="card-body">
					<h4 class="card-text">2,000,000 đ</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-4 mx-2">
		<h4 class="">
			Thông tin chung
		</h4>
		<div class="row pt-2">
			<p class=""><b>Khu vực:</b> {{ information.location }}</p>
			<p class="col-md-6"><b>Người đại diện:</b> {{ information.owner }}</p>
			<p class="col-md-6"><b>Thời gian:</b> {{ information.from_year }} - {{ information.to_year }}</p>
		</div>
	</div>
</div>
{% endblock %}