{% extends 'layout.html' %}

{% block title %} Đăng ký hộ khẩu {% endblock %}

{% block content %}
<div class="mt-4 mx-2">
    <h3>Đăng ký hộ khẩu</h3>
    <form method="post">
        <div class="row mb-4">
            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="householdId">Mã hộ khẩu</label>
                    <input type="text" id="householdId" name="householdId" class="form-control" value="{{ householdId }}" readonly/>
                </div>
            </div>
        </div>

        <!-- Text input -->
        <div class="form-label mb-4">
            <label class="form-label" for="houseNumber">Số nhà</label>
            <input type="text" id="houseNumber" name="houseNumber" class="form-control" />
        </div>

        <div class="form-label mb-4">
            <label class="form-label" for="street">Đường, Hẻm</label>
            <input type="text" id="street" name="street" class="form-control" />
        </div>

        <div class="form-label mb-4">
            <label class="form-label" for="commune">Phường, Xã</label>
            <input type="text" id="commune" name="commune" class="form-control" />
        </div>

        <div class="form-label mb-4">
            <label class="form-label" for="district">Quận, Huyện</label>
            <input type="text" id="district" name="district" class="form-control" />
        </div>

        <div class="form-label mb-4">
            <label class="form-label" for="province">Tỉnh, Thành phố</label>
            <input type="text" id="province" name="province" class="form-control" />
        </div>

        <div class="form-label mb-4">
            <label class="form-label" for="registerDate">Ngày đăng ký</label>
            <input type="text" id="registerDate" name="registerDate" placeholder="yyyy-mm-dd" value="{{ today }}" class="form-control" />
        </div>

        <div class="row mb-4">
            <div class="col d-flex ">
                <h5 class="d-inline mt-2">Thông tin chủ hộ</h5>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="form-label">
                    <label class="form-label" for="householderId">Mã nhân khẩu</label>
                    <input type="text" id="householderId" name="householderId" class="form-control"/>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-rounded m-3">Thêm hộ khẩu mới</button>
    </form>
</div>


{% endblock %}